.hero-unit
  .span6.text-center
    = link_to 'Add Restaurants', new_restaurant_path, class: 'btn btn-info btn-large'
  .span6.text-center
    = link_to 'Start Deciding', new_decision_path, class: 'btn btn-primary btn-large'