.span6.offset3 
  %h1= @decision.identifier

  %table.table.table-striped
    - @decision.choices.each do |choice|
      %tr
        %td= render 'restaurants/restaurant_td', restaurant: choice.restaurant.decorate
        %td= choice.points

