@import "bootstrap";
@import "bootstrap-responsive";

tr.restaurant td {
  vertical-align: middle;
}

tr.restaurant input[type="checkbox"] {
  margin-top: 0px;
}

.field_with_errors {
  display: inline;
}

.flash {
  margin-top: 10px;
}