
.span6.offset3
  %h4
    Your vote has been received. Thank you.
  %p
    You will receive a email with the final decision of
    restaurant at around 11:00am. Ordering instruction will
    also be included in that email.