
.span6.offset3
  %h4
    Your vote has been received. Thank you.
  %p
    You will receive a email with the final decision of
    restaurant after everyone has voted. Ordering instruction will also be included
    in that email.